In [108]:
data = {}

In [109]:
def get_all_data():
    for i in data:
        print("Student ID: "+str(i))
        print("Student Name: "+str(data[i]["stu_name"]))
        print("Student Class: "+str(data[i]["stu_class"]))
        print("Student Grades: "+str(data[i]["stu_grades"]))
        print("\n\n")

In [110]:
def add_student(stu_id_in, stu_name_in, stu_class_in, stu_grades_in):
    if stu_id_in not in data:
        data[stu_id_in] = {
            "stu_name": stu_name_in,
            "stu_class": stu_class_in,
            "stu_grades": stu_grades_in,
        }
    else:
        print("Student with same id already exists.")

In [111]:
def update_grades(stu_id_in, stu_grades_in):
    if stu_id_in not in data:
        print("Student doesn't exist.")
        return
    else:
        data[stu_id_in]["stu_grades"] = stu_grades_in
        print("Grades updated successfully")

In [112]:
def calculate_average(stu_id_in):
    if stu_id_in not in data:
        print("Student doesn't exist.")
        return -1
    else:
        av=0
        for a in data[stu_id_in]["stu_grades"]:
            av+=a
        av/=len(data[stu_id_in]["stu_grades"])
        return av

In [113]:
def get_top_from_class(stu_class_in):
    max_avg = -1
    max_id = -1
    for i in data:
        if data[i]["stu_class"] == stu_class_in:
            if calculate_average(i)>max_avg:
                max_avg = calculate_average(i)
                max_id = i
    return max_id

In [114]:
def generate_top_students_report():
    each_class = {}
    top = {}
    for k in data:
        if data[k]["stu_class"] not in each_class:
            each_class[data[k]["stu_class"]] = 1
        else:
            each_class[data[k]["stu_class"]] += 1
    for i in each_class:
        stu_id_high = get_top_from_class(i)
        top[i] = {
            "stu_class": i,
            "stu_id": stu_id_high,
            "stu_name": data[stu_id_high]["stu_name"]
        }
    for i in top:
        print("Student ID: "+str(i))
        print("Student Class: "+str(top[i]["stu_class"]))
        print("Student Name: "+str(top[i]["stu_name"]))
        print("\n\n")
    return top

In [115]:
add_student(1, "Yash", 12, [99, 66, 88, 98, 70])
add_student(2, "Saksham", 12, [78, 97, 67, 66, 78])
add_student(3, "Vanshul", 12, [98, 97, 90, 98, 95])
add_student(4, "Mittal", 11, [67, 97, 89, 89, 95])
add_student(5, "Isha", 11, [98, 97, 99, 99, 99])

In [116]:
get_all_data()

Student ID: 1
Student Name: Yash
Student Class: 12
Student Grades: [99, 66, 88, 98, 70]



Student ID: 2
Student Name: Saksham
Student Class: 12
Student Grades: [78, 97, 67, 66, 78]



Student ID: 3
Student Name: Vanshul
Student Class: 12
Student Grades: [98, 97, 90, 98, 95]



Student ID: 4
Student Name: Mittal
Student Class: 11
Student Grades: [67, 97, 89, 89, 95]



Student ID: 5
Student Name: Isha
Student Class: 11
Student Grades: [98, 97, 99, 99, 99]

In [126]:
top = generate_top_students_report()

Student ID: 12
Student Class: 12
Student Name: Yash



Student ID: 11
Student Class: 11
Student Name: Isha

In [118]:
update_grades(1, [99, 99, 99, 99, 99])

Grades updated successfully

In [119]:
top = generate_top_students_report()

Student ID: 12
Student Class: 12
Student Name: Yash



Student ID: 11
Student Class: 11
Student Name: Isha

In [122]:
print("Student averages: ")
for i in range(1, 6):
    print("Average of Student ID - " + str(i) +" = " + str(calculate_average(i)))

Student averages:
Average of Student ID - 1 = 99.0
Average of Student ID - 2 = 77.2
Average of Student ID - 3 = 95.6
Average of Student ID - 4 = 87.4
Average of Student ID - 5 = 98.4

In [124]:
add_student(6, "abcd",11, [50, 60, 70, 80, 90])

In [125]:
get_all_data()

Student ID: 1
Student Name: Yash
Student Class: 12
Student Grades: [99, 99, 99, 99, 99]



Student ID: 2
Student Name: Saksham
Student Class: 12
Student Grades: [78, 97, 67, 66, 78]



Student ID: 3
Student Name: Vanshul
Student Class: 12
Student Grades: [98, 97, 90, 98, 95]



Student ID: 4
Student Name: Mittal
Student Class: 11
Student Grades: [67, 97, 89, 89, 95]



Student ID: 5
Student Name: Isha
Student Class: 11
Student Grades: [98, 97, 99, 99, 99]



Student ID: 6
Student Name: abcd
Student Class: 11
Student Grades: [50, 60, 70, 80, 90]